<h2>Home</h2>

{{#homeS.route name=(route-for 'HOME_INDEX') as |indexS indexA|}}
  {{#if indexS.isActive}}
    {{partial 'routes/redux/home/index'}}
  {{/if}}
{{/homeS.route}}

{{#homeS.route name=(route-for 'HOME_ALT') as |altS altA|}}
  {{#if altS.isActive}}
    {{partial 'routes/redux/home/alt'}}
  {{/if}}
{{/homeS.route}}

{{#dummy/-a (action homeA.redirect '..' (route-for 'PRODUCT') (route-for 'PRODUCT_INDEX'))}}
  Go Product
{{/dummy/-a}}