<h1>Redux App</h1>

{{#reduxS.route name=(route-for 'HOME') as |homeS homeA|}}
  {{#if homeS.isActive}}
    {{partial 'routes/redux/home'}}
  {{/if}}
{{/reduxS.route}}

{{#reduxS.route name=(route-for 'PRODUCT') as |productS productA|}}
  {{#if productS.isActive}}
    {{partial 'routes/redux/product'}}
  {{/if}}
{{/reduxS.route}}