<h1>Redux App</h1>

{{#redux.route name=(route-for 'HOME') as |home homeActions|}}
  {{#if home.isActive}}
    {{partial 'routes/redux/home'}}
  {{/if}}
{{/redux.route}}

{{#redux.route name=(route-for 'PRODUCT') as |product productActions|}}
  {{#if product.isActive}}
    {{partial 'routes/redux/product'}}
  {{/if}}
{{/redux.route}}