<h1>Application</h1>
{{#dummy/redux-anchor as |state actions|}}
  <ul class="debug-statement">
    {{#each state as |path|}}
      <li>{{path}}</li>
    {{/each}}
  </ul>
  {{#routing/base-router
    name=RoutePart.app
    state=state
    checkRoute=actions.checkRoute
    redirectRoute=actions.redirectRoute as |reduxS reduxA|}}
    {{#if reduxS.isActive}}
      {{partial 'routes/redux'}}
    {{/if}}
  {{/routing/base-router}}
{{/dummy/redux-anchor}}